@model ProjetDotNet.Models.DBModels.Users
<div class="text-center">
    <h1 class=" display-4 ">Profile</h1>
</div>
<div class=" d-flex justify-content-center align-items-center w-100 h-100">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 text-center text-white gradient-custom"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://github.com/mdo.png"
                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <h5>@Model.nom @Model.prenom</h5>
                            <p>@Model.classe</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Informations</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    
                                    <div class="col-6 mb-3">
                                        <h6>Carte Etudiant</h6>
                                        <p class="text-muted">@Model.carteEtudiant</p>
                                    </div>
                                </div>
                                
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">@Model.email</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
</div>