@model IEnumerable<ProjetDotNet.Models.DBModels.Survey>
<div class="container">
    <div class="text-center">
        <h1 class=" display-4 ">Old Surveys</h1>
    </div>
    <div class="row">
        @if(Model!=null){
        @foreach(var survey in Model)
        {
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Survey
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title">@survey.Question </h5>
                        <p class="card-text">@survey.Description</p>
                        <p class="card-text text-start  text-success">@survey.Option1</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            @if (@survey.votesNumber != 0)
                            {
                                    <div class="progress-bar" style="width: @(@survey.nbVotesChoix1*100/@survey.votesNumber)%">@(@survey.nbVotesChoix1*100/@survey.votesNumber)%</div>
                            }
                            else
                            {

                                <div class="progress-bar" style="width: 0%">
                                    0%
                                </div>
                            }
                        </div>
                        <p class="card-text text-start  text-success">@survey.Option2</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            @if (@survey.votesNumber != 0)
                            {
                                    <div class="progress-bar" style="width: @(@survey.nbVotesChoix2*100/@survey.votesNumber)%">@(@survey.nbVotesChoix2*100/@survey.votesNumber)%</div>
                            }
                            else
                            {

                                <div class="progress-bar" style="width: 0%">
                                    0%
                                </div>
                            }
                        </div>
                        @if (@survey.Option3 != null){
                            <p class="card-text text-start  text-success">@survey.Option3</p>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                             @if (@survey.votesNumber != 0)
                                {
                                 <div class="progress-bar" style="width: @(@survey.nbVotesChoix3*100/@survey.votesNumber)%">@(@survey.nbVotesChoix3*100/@survey.votesNumber)%</div>
                                }
                                else
                                {

                                    <div class="progress-bar" style="width: 0%">
                                        0%
                                    </div>
                                }
                            </div>
                        }@if (@survey.Option4 != null){
                            <p class="card-text text-start  text-success">@survey.Option4</p>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                @if (@survey.votesNumber != 0)
                                {
                                        <div class="progress-bar" style="width: @(@survey.nbVotesChoix4*100/@survey.votesNumber)%">@(@survey.nbVotesChoix4*100/@survey.votesNumber)%</div>
                                }
                                else
                                {

                                    <div class="progress-bar" style="width: 0%">
                                        0%
                                    </div>
                                }
                            </div>
                        }@if (@survey.Option5 != null){
                            <p class="card-text text-start  text-success">@survey.Option5</p>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                @if (@survey.votesNumber != 0)
                                {
                                        <div class="progress-bar" style="width: @(@survey.nbVotesChoix5*100/@survey.votesNumber)%">@(@survey.nbVotesChoix5*100/@survey.votesNumber)%</div>
                                }else{

                                    <div class="progress-bar" style="width: 0%">
                                        0%
                                    </div>
                                }
                            </div>
                        }@if (@survey.Option6 != null){
                            <p class="card-text text-start  text-success">@survey.Option6</p>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                @if (@survey.votesNumber != 0)
                                {
                                        <div class="progress-bar" style="width: @(@survey.nbVotesChoix6*100/@survey.votesNumber)%">@(@survey.nbVotesChoix6*100/@survey.votesNumber)%</div>
                                }
                                else
                                {

                                    <div class="progress-bar" style="width: 0%">
                                        0%
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="card-footer text-muted">
                        Closed
                    </div>
                </div>
            </div>
        }
        }
    </div>
</div>